<%- include('partials/page-start.html')%>
  <h1> <%= title %> </h1>

  <section class="card">
	<section class="card-body">
		<% if(errorMessage) { %>
			<span> <%= errorMessage %> </span>
		<%}%>
		<form method="POST">
			<label for="email">
				Email
				<input 
					type="email"
					name="email"
					id="email"
					placeholder="example@email.com"
					value="<%= values.email ?? '' %>">
			</label>
			<label for="password">
				Password
				<input 
					type="password"
					name="password"
					id="password"
					>
			</label>
			<button class="btn btn-primary" type="submit">Login</button>
		</form>
	</section>
  </section>

<%- include('partials/page-end.html')%>