<%- include('partials/page-start.html')%>
  <h1>
    <%=title%>
  </h1>
  <section class="card">
    <div class="card-body">
      <% if(errorMessage) { %>
        <span>
          <%= errorMessage %>
        </span>
        <%}%>
          <form method="post" action="/tasks">
            <label for="title">
              Título
              <!-- Si hay un value para el title, lo usamos -->
              <input type="text" name="title" id="title" value="<%=values.title ?? ''%>" placeholder="Preparar el formulario de creación de tarea">
            </label>
            <label for="done">
              Completada
              <!-- Si checkeó, lo mostramos checkeado -->
              <input type="checkbox" name="done" id="done" <%=values.done==='on' ? 'checked' : '' %>>
            </label>
            <button type="submit" class="btn btn-primary">Guardar tarea</button>
          </form>

    </div>
  </section>

  <%- include('partials/page-end.html')%>