<%- include('partials/page-start.html')%>
  <h1> <%= title %> </h1>
<% if(values._id) { %>
  <span>Id de la tarea: <%= values._id %></span>
<% } %>
  <section class="card">
    <div class="card-body">
    <% if(errorMessage) { %>
      <span> <%= errorMessage %> </span>
    <%}%>
      <form
        method="POST"
        action="/tasks<%= values._id ? '/edit/' + values._id : '' %>">
        <label for="title">
          Título
          
          <input type="text" name="title" id="title" value="<%=values.title ?? ''%>" placeholder="Preparar el formulario de creación de tarea">
        </label>
        <label for="done">
          Completada
          <input type="checkbox" name="done" id="done" <%=values.done==='on' ? 'checked' : '' %> >
        </label>
        <button type="submit" class="btn btn-primary">Guardar tarea</button>
      </form>
      <% if(values._id) { %>
        <button class="btn btn-danger" id="delete-btn">Eliminar tarea</button>
      <% } %>
    </div>
  </section>
<% if(values._id) { %>
  <script>
    
    const deleteBtn = document.querySelector('#delete-btn')
    
    const taskId = '<%= values._id%>'
    
    deleteBtn?.addEventListener('click', () => {
      console.log('clicked');

      const options = { method: 'DELETE' }

      fetch('/tasks/' + taskId, options)
        .then(response => response.text())
        .then(data => {
          console.log(data)
          window.location.href = '/tasks'
        })
    })
  </script>
<% } %>
  

<%- include('partials/page-end.html')%>