<%- include('partials/page-start.html')%>
  <ul>
    <li><a href="/tasks?status=pending">Pending</a></li>
    <li><a href="/tasks?status=done">Done</a></li>
    <li><a href="/tasks?status=all">All</a></li>
  </ul>
  <h1><%= title %></h1>
  <ul>
    <% if(tasks.length===0) { %>
      <li>No se han encontrado tareas</li>
      <% } else { tasks.forEach(task=> { %>
      	<%- include('partials/components/task-component.html', {task: task}) %>
    <%})}%>
  </ul>
  </div>
<%- include('partials/page-end.html')%>