<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Variable ejs -->
  <!-- No hace falta pasársela desde el include, ya que la variable está definida en el render del controlador -->
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/app.css" />
  <link rel="icon" href="/icon.webp" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body class="container">
  <nav>
    <a href="/">Home</a>
    <a href="/tasks">Tasks (<%= pendingTasks %>)</a>
    <a href="/health">Health</a>
  </nav>